@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: Arial, sans-serif;
}

.dashboard__content-wrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow: visible;
}

.dashboard__sidebar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background: #ffffff;
  padding: 25px 0;
  transition: all 0.4s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.dashboard__sidebar.expanded {
  width: 260px;
}

.dashboard__sidebar-header {
  display: flex;
  align-items: center;
}

.dashboard__sidebar-header img {
  width: 50px;
  margin: auto;
  display: block;
}

.dashboard__sidebar-links {
  list-style: none;
  margin-top: 20px;
  height: 45%;
}

.dashboard__sidebar-links span {
  margin-right: 10px;
}

.dashboard__sidebar-links li a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0 20px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  padding: 15px 0;
  margin-right: 25px;
  margin-left: -10px;
  white-space: nowrap;
  margin-bottom: 15px;
  transition: ease-in 0.2s;
}

.dashboard__sidebar-links li a:hover {
  color: white;
  position: relative;
  z-index: 1;
}

.dashboard__sidebar-links li a::before {
  content: "";
  position: absolute;
  inset: -5px -10px;
  background-color: #1a5dac;
  border-radius: 10px;
  z-index: -1;
  opacity: 0;
  transform: scaleX(0.95) scaleY(0.9);
  transition: all 0.3s ease;
}

.dashboard__sidebar-links li a:hover::before {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}
.dashboard__sidebar-links li a:active::before {
  background-color: #154883;
  transform: scale(0.98);
  opacity: 1;
}

.dashboard__user-account {
  margin-top: auto;
  padding: 12px 10px;
  align-items: center;
  border-radius: 20px;
  display: flex;
  transition: all ease-in-out 0.2s;
}

.dashboard__user-account:hover {
  background-color: #dbdbdb;
}

.dashboard__user-account:hover:active {
  background-color: #c2c2c2;
}

.dashboard__user-profile {
  display: flex;
  align-items: center;
  color: #1a5dac;
}

.dashboard__user-profile img {
  width: 42px;
  border-radius: 50%;
  margin: 12px;
}

.dashboard__user-profile h3 {
  font-size: 16px;
  font-weight: bolder;
  margin-left: 10px;
}

.dashboard__user-profile h4 {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  margin-left: 10px;
}

.dashboard__user-detail {
  margin: 0;
  white-space: nowrap;
}

.dashboard__main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background: #f6f8fa;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

@media (min-width: 768px) {
  .dashboard__sidebar {
    display: flex;
  }

  .navbar__toggle {
    display: none;
  }

  .navbar__menu {
    display: none !important;
  }

  .navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: white;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 2000;
  }

  .dashboard__main {
    padding-top: 5px;
  }
}

.navbar {
  display: none;
}

.navbar__logo img {
  width: 40px;
  height: auto;
}

.navbar__toggle {
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}

.navbar__toggle-bar {
  width: 25px;
  height: 3px;
  background: black;
  border-radius: 3px;
}

.navbar__menu {
  display: none;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  background: white;
  padding: 15px 0;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.navbar__menu--open {
  display: flex;
}

.navbar__item {
  padding: 15px 20px;
  border-bottom: 1px solid #eee;
}

.navbar__item a {
  text-decoration: none;
  color: inherit;
}

.navbar__item a:hover {
  color: #1a5dac;
}

.navbar__item span {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.navbar__item span:hover {
  color: #1a5dac;
}

/* MOBILE VIEW */
@media (max-width: 767px) {
  .dashboard__sidebar {
    display: none;
  }

  .navbar {
    display: flex;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: white;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2000;
  }

  .dashboard__main {
    margin-top: 20px;
  }
}

/* Sidebar active coloring */
.dashboard__sidebar-links .active-link {
  position: relative;
  color: white;
  z-index: 1;
}

/* Active box color */
.dashboard__sidebar-links .active-link::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -10px;
  right: -10px;
  background-color: #1a5dac;
  border-radius: 10px;
  z-index: -1;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
  transition: all 0.3s ease;
}


