.daterange_container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}

.daterange_bar {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  font-family: Arial, Helvetica, sans-serif;
  padding: 8px;
  padding-left: 16px;
  margin-left: 0;
  margin-top: 10px;
  width: 270px;
  display: flex;
  align-items: center;
}

.daterange_btn {
  background-color: #fff;
  border: none;
  margin-top: 10px;
  padding: 7.2px 12px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
}

.daterange_btn:hover {
  background: #1a5dac;
  color: #fff;
}

@media (max-width: 768px) {
  .daterange_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-top: 20px;
    gap: 10px;
  }

  .daterange_bar {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15),
      0 6px 20px 0 rgba(0, 0, 0, 0.12);
    font-family: Arial, Helvetica, sans-serif;
    padding: 9px 16px;
    margin-top: 5px;
    width: 170px;
    white-space: nowrap;
  }

  .daterange_bar-hide-title {
    display: none;
  }

  .daterange_btn {
    padding: 8px 12px;
    margin-bottom: 5px;
  }
}
