
.filed-leaves-card {
  width: 100%;
  max-width: 700px;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.filed-leaves-card__header {
  background-color: #1a5dac;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1px 16px;
  font-weight: bold;
}


.filed-leaves-card__title {
  font-size: 15px;
}


.filed-leaves-card__list {
  display: grid;
  grid-template-columns: 1fr 1fr;   /* 2 equal columns */
  grid-gap: 0.75rem 1rem;         
  padding: 20px;
}


.filed-leaves-card__item {
  display: flex;
  align-items: center;      
  gap: 12px;               
}


.filed-leaves-card__item .material-symbols-outlined {
  font-size: 40px;
  color: #1a5dac;
}


.filed-leaves-card__item {
  display: grid;
  grid-template-columns: 50px 1fr; /* icon column | text column */
  align-items: center;
  gap: 10px;
}


.filed-leaves-card__icon {
  font-size: 58px;
  display: flex;
  justify-content: center;
}


.filed-leaves-card__text {
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: right;
}

/* Label */
.filed-leaves-card__label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
}


.filed-leaves-card__value {
  font-size: 22px;
  font-weight: 700;
}
