.forgot-background {
  background-color: #f6f8fa;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
}

/* Upper Box Header */
.top-box-header {
  display: flex;
  align-items: center;
  margin-top: -50px;
  justify-content: space-between; /* pushes X to the right */
  width: 100%; /* or a fixed width */
  padding: 0 10px;
}

/* Boxes */
.forgot-password-box {
  background-color: #ffffff;
  padding: 35px 40px;
  border-radius: 12px;
  max-width: 405px;
  width: 90%;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
  box-sizing: border-box;
}

.text-box {
  width: 100%;
  height: 42px;
  margin: 12px 0;
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background: #fafafa;
  font-size: 16px;
  box-sizing: border-box;
}

.text-box:focus {
  border-color: #1a5dac;
  outline: none;
  background: white;
}

/* Texts */
.forgot-password-text {
  font-size: 15px;
  color: #444;
  line-height: 1.6;
  margin: 35px 0 25px 0;
  text-align: center;
  word-wrap: break-word; /* Ensures long emails don't break the box */
}

/* Buttons */
.close-btn {
  background: none;
  border: none;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
  cursor: pointer;
  color: #333;
  padding: 5px 10px;
  transition: 0.2s ease;
  /* margin-right: -15px; */
  box-sizing: border-box;
}

.close-btn:hover {
  color: red;
  transform: scale(1.1);
}

.close-btn:hover:active {
  color: rgb(163, 0, 0);
  transform: scale(0.98);
}

.forgot-password-button {
  width: 100%;
  height: 45px;
  margin-top: 15px;
  background-color: #1a5dac;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  transition: 0.2s;
}

.forgot-password-button:hover {
  background-color: #154a8a;
  transform: scale(1.01);
}

.forgot-password-button:hover:active {
  transform: scale(0.98);
}

.resend-link-btn {
  background: none;
  border: none;
  font-size: 14px;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.resend-link-btn:not(:disabled):hover {
  text-decoration: underline;
}

.resend-link-btn:disabled {
  text-decoration: none !important;
  cursor: not-allowed;
  pointer-events: none;
}

/* Responsive view */
@media (max-width: 480px) {
  .forgot-password-box {
    padding: 25px 20px; /* reduce padding on small screens */
    width: 90%;
  }

  .close-btn {
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .text-box {
    margin: 12px 0;
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .forgot-box {
    padding: 20px 16px;
  }

  .close-btn {
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .text-box {
    height: 38px;
    font-size: 14px;
  }
}
