@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.password-wrapper {
  position: relative;
  width: 100%;
}

.input-group {
  position: relative;
  width: 100%;
}

.password-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Eye */
.eye-icon {
  position: absolute;
  right: 5px;
  margin-right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #757575;
  transition: 0s;
  padding: 6px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease;
}

.eye-icon:hover {
  background: rgba(0, 0, 0, 0.116);
}

.eye-icon:active:hover {
  background: rgba(0, 0, 0, 0.192);
}

.eye-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.158);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none;
  /* Longer */
  transition: transform 1s cubic-bezier(0.2, 0.6, 0.2, 1), opacity 0.8s ease;
}

.eye-icon:active::after {
  transform: translate(-50%, -50%) scale(10);
  opacity: 1;
  /* Smoother */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

/* Eye new */
.new-eye-icon {
  position: absolute;
  right: 10px;
  margin-right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #757575;
  transition: 0s;
  padding: 6px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease;
}

.new-eye-icon:hover {
  background: rgba(0, 0, 0, 0.116);
}

.new-eye-icon:active:hover {
  background: rgba(0, 0, 0, 0.192);
}

.new-eye-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.158);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none;
  /* Longer */
  transition: transform 1s cubic-bezier(0.2, 0.6, 0.2, 1), opacity 0.8s ease;
}

.new-eye-icon:active::after {
  transform: translate(-50%, -50%) scale(10);
  opacity: 1;
  /* Smoother */
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 10px;
}
