@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

.change-password-form-button {
  width: 100%;
  max-width: 200px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  transition: 0.3s ease;
}

.change-password-form-button:hover {
  background-color: #0056b3;
}

.uc-password-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}

.uc-input-group {
  position: relative;
  width: 100%;
}

.uc-password-input {
  width: 300px;
  height: 40px;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.uc-eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #757575;
  padding: 6px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease;
}

.uc-eye-icon:hover {
  background: rgba(0, 0, 0, 0.116);
}

.uc-eye-icon:active:hover {
  background: rgba(0, 0, 0, 0.192);
}

.uc-eye-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.158);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none;
  transition: transform 1s cubic-bezier(0.2, 0.6, 0.2, 1), opacity 0.8s ease;
}

.uc-eye-icon:active::after {
  transform: translate(-50%, -50%) scale(10);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.uc-new-eye-icon {
  position: absolute;
  right: 10px;
  margin-right: -30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  color: #757575;
  padding: 6px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.uc-new-eye-icon:hover {
  background: rgba(0, 0, 0, 0.116);
}

.uc-new-eye-icon:active:hover {
  background: rgba(0, 0, 0, 0.192);
}

.uc-new-eye-icon::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 10px;
  height: 10px;
  background: rgba(0, 0, 0, 0.158);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none;
  transition: transform 1s cubic-bezier(0.2, 0.6, 0.2, 1), opacity 0.8s ease;
}

.uc-new-eye-icon:active::after {
  transform: translate(-50%, -50%) scale(10);
  opacity: 1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.uc-error-text {
  color: red;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.password-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
