.timeoff__main {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.timeoff_title {
  color: #1a5dac;
}

.timeoff__description {
  color: #828282;
}

@media (max-width: 766px) {
  .timeoff__main {
  margin-top: 80px;
}
}